*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
/*header{
  background-color: pink;
  height: 5rem;
  overflow: auto;
}*/
.topnav{
  overflow: hidden;
  background-color: pink;
  height: 5rem;
}
ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-links{
  list-style-type: none;
  
}
 nav a{
  padding: 2rem;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-align: center;
}
a:hover{
  color: red;
  background-color: black;
}
a .active{
  background-color: white;
  color:black;
}
.icon{
  display: none;
}
body{
  background-color: black;
}
/* Home Page Styling*/

.hero-container{
  height: 100vh;
  width: 100vw;
  background-image: url('https://blog-assets.lightspeedhq.com/img/2021/03/e4bcf36b-blog_are-you-really-ready-to-open-an-ice-cream-shop_1200x628.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.hero-container h1{
font-size: 5em;
}
.about{
  display: flex;
  
}
.about-image{
  width: 50%;
  margin: 2rem 2rem 5rem 2rem;
}
p{
  color: white;
}
.beef{
  color: black;
}
.about-image-text{
  max-width: 50%;
}
.about-details{
  color: white;
  text-align: center;
  margin: 2rem 4rem 5rem 2rem;
  font-size: 2rem;
  border-radius: 3.125rem;
  box-shadow: .625rem .625rem .625rem  pink;
  padding: 0.31rem .625rem;
  
  
}
.grid{
  max-width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
}

.grid-title{
  text-align: center;
  color: white;
  margin: 5rem;
  font-size: 3rem;
  text-transform: uppercase;
  box-shadow: .625rem .625rem 3.125rem .625rem pink;
  border-radius: 50px;
  clear: both;
}
.grid-item{
  border: 1px solid white;
  box-shadow: 10px 10px 10px  pink;
  border-radius: 0.31rem;
  overflow: hidden;
  box-sizing: border-box;
}

.grid-item-image{
  height: 12.5rem;
  background-size: cover;
  background-position: center;
}
 .name{
font-size: 1.25rem;
font-weight: bold;
text-align: center;
}
 .job-title{
  color:white;
  text-align: center;
  margin-top: 1.25rem;
}
 .comment{
  text-align: center;
  font-style: italic;
  margin-top: 1.25rem;
}
/* Treats Page Styling*/


.grid-item> .title{
font-size: 1.25rem;
font-weight: bold;
text-align: center;
margin: 2.5rem;
}
.grid-item> .description{
  color:white;
  text-align: center;
  font-size:1.2rem;
  margin:1rem;

}
.grid-item> .price{
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  margin: 2rem;
}
button{
  outline: none;
  background: black;
  color: white;
  padding: 1.3rem;
  width:7rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1rem;
  font-size: 16px;
  margin:2rem 4rem;
}
/* Contact Page Styling*/

.form-container{
  position: relative;
  margin: 8% auto;
  min-height: 60%;
  width: 50%;
  background: white;
  padding: 0 0 3.2rem 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 1.6rem 1.6rem 3.1rem  pink;
}
.form-container h2{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.form-content-container{
  margin-top: auto;
  }
.form-content-container h4{
  display: flex;
  text-align: center;
  justify-content: center;
  color: red; 
}
.form-input{
  display: block;
  margin: 0 0 1rem 0.8rem;
  padding: 0.25rem;
  width: 80%;
  height: 5%;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 0.75rem;
}
.submit-button{
  background: black;
  color: white;
  margin: 0.6rem 1.25rem;
  width: 80%;
  height: 5%;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}

.submit-button{
  transition-duration: 0.4s;
}
.submit-button:hover{
  background-color: white;
  color: black;
}


footer {
  background: pink;
  color: black;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  position: relative;
  align-items: center;
  clear: both;

}
.social {
  color: white;
  width: 25px;
  height: 25px;
}

/* Media Queries*/

@media (min-width:601px) and (max-width:910px){
  
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
    .chicken{
     display: none;
      width: 0;
  }
  .about-image-text{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  }
  .about{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-image{
    width: 0%;
  }
  
}

@media (max-width:600px){
  .grid{
    grid-template-columns: 1fr;
    width:100%;
  }
  .chicken{
    display: none;
     width: 0;
 }
 .about-image-text{
   max-width: 100%;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
 }
 .about{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .about-image{
   width: 0%;
 }
 .grid-title{
   font-size: 1rem;
 }
}
