*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
  }
  header{
    background-color: pink;
    height: 5rem;
    overflow: auto;
  }
  .nav-links{
    float: left;
    list-style-type: none;
  }
   nav a{
    padding: 2rem;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    text-align: center;
  }
  a:hover{
    color: red;
    background-color: black;
  }
  body{
    background-color: black;
  }
  p{
    color: white;
  }
  .featured-products{
    margin-top: 20px;
    max-width: 80%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  @media (max-width:1000px){
    .featured-products{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width:800px){
    .featured-products{
      grid-template-columns: 1fr;
    }
  }
  .featured-products-title{
    text-align: center;
    color: white;
    margin: 5em;
    font-size: 3em;
    text-transform: uppercase;
    box-shadow: 10px 10px 50px 10px pink;
    border-radius: 50px;
  }
  .featured-products-item{
    border: 1px solid white;
    box-shadow: 10px 10px 10px pink;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .featured-products-item-image{
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  .featured-products-item> .title{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  }
  .featured-products-item> .description{
    color:white;
    text-align: center;
    margin-top: 20px;
  }
  .featured-products-item> .price{
    text-align: center;
    font-style: italic;
    margin-top: 20px;
  }
  button{
    outline: none;
    background: black;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 80px;
    margin-top: 30px;
  }
  
  footer {
    background: pink;
    color: black;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
    clear: both;
  }
  footer p{
    color: black;
  }
  .social {
    color: white;
    width: 25px;
    height: 25px;
  }
  